@import '../../../../style-guide/index';

.row-expander {
  cursor: pointer;

  &__icon {
    display: grid;
    place-items: center;
    width: 16px;
    height: 16px;
    color: map-get($primary-blue, default);

    &--expanded {
      transform: rotate(90deg);
    }
  }
}
