@import '../../style-guide/index';

.sort-arrow {
  position: absolute;
  left: -16px;
  display: grid;
  place-items: center;
  height: 16px;
  width: 16px;
  color: map-get($primary-blue, medium-tint);
  cursor: pointer;

  &--active {
    color: map-get($primary-blue, shade);
  }
}
