@import '../../style-guide/index';

.table-row {
  align-items: center;
  min-height: 40px;
  border-bottom: 1px solid map-get($monochrome, medium-tint);

  &__table-row-cell {
    padding: 0 16px;

    &--type {
      &--start {
        width: 100%;
        justify-self: start;
      }

      &--end {
        justify-self: end;
      }
    }

    &--selector {
      &:first-child {
        padding: 0 0;
      }
    }
  }

  &--nested {
    border-left: 2px solid map-get($primary-blue, light-tint);
    border-right: 2px solid map-get($primary-blue, light-tint);
  }

  &--nested-last {
    border-bottom: 2px solid map-get($primary-blue, light-tint);
  }
}
