@import '../../style-guide/colors';

.legend {
  display: flex;
  gap: 24px;
  font-size: 12px;
  line-height: 16px;
  color: map-get($monochrome, default);

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
