@import '../../../style-guide/index';

.button {
  display: flex;
  align-items: center;
  border-radius: 16px;
  outline: 0;
  cursor: pointer;

  &--type {
    &--primary {
      border: 1px solid map-get($primary-blue, default);
      background-color: map-get($primary-blue, default);
      color: map-get($monochrome, white);
      font-family: $semibold-font;

      &:hover {
        border: 1px solid map-get($primary-blue, medium-tint);
        background-color: map-get($primary-blue, medium-tint);
      }

      &:active {
        border: 1px solid map-get($primary-blue, shade);
        background-color: map-get($primary-blue, shade);
      }
    }
    &--secondary {
      border: 1px solid map-get($primary-blue, default);
      background-color: map-get($monochrome, white);
      color: map-get($primary-blue, default);
      font-family: $semibold-font;

      &:hover {
        border: 1px solid map-get($primary-blue, medium-tint);
      }

      &:active {
        border: 1px solid map-get($primary-blue, shade);
      }
    }
  }

  &--size {
    &--large {
      height: 32px;
      line-height: 20px;
      padding: 0 16px;
      font-size: 14px;
    }

    &--small {
      height: 24px;
      line-height: 16px;
      padding: 0 12px;
      font-size: 12px;
    }
  }

  &--disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
